<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339132404793-4rdjgola6kiibtmhe47tr4s3rrsrp6pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339132404793-4rdjgola6kiibtmhe47tr4s3rrsrp6pa</string>
	<key>API_KEY</key>
	<string>AIzaSyCuAgNcI_8dt-d53YuspKVvzmQBSzfaxYo</string>
	<key>GCM_SENDER_ID</key>
	<string>339132404793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wordpress.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>tv360-8680a</string>
	<key>STORAGE_BUCKET</key>
	<string>tv360-8680a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339132404793:ios:7c1fbdb4456a131275e9e8</string>
</dict>
</plist>